
#title{
    /* color: rgb(255, 255, 255) */
    color: #684fe4;
}

#mainDiv{
    display: flex;
}

#background-story{
    width: 70%;
    padding: 20px;
}

#background-story p{
    text-align: left;
}

#imagesDiv{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.images{
    width: 80%;
    height: auto;
    padding: 30px;
    margin-top: 20px;
}

table{
    margin: auto;
    width: 80%;
}